:root {
    --orange: rgba(249, 114, 71, 1);
    --burgundy: rgb(45, 20, 19);
    --lime: rgba(235, 242, 157, 1);
    --khaki: rgb(26, 29, 12);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
    background: var(--khaki);
    background-image: url('./Dot-Light-rose.png'), url('./Dot-Light.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.99;
}

img.masked-image {
    -webkit-mask-image: url('./Dot-Light.png');
    -webkit-mask-size: 20%;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    max-width: 574px;
    height: auto;
    position: absolute;
    top: 570px;
    left: 1505px;
    opacity: 0.7;
}

img.masked-image {
    -webkit-mask-image: url('./Dot-Light-rose.png');
    -webkit-mask-size: 20%;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    max-width: 226px;
    height: auto;
    position: absolute;
    top: 184px;
    left: -307px;
    opacity: 0.55;
    transform: rotate(54.31deg);
}

.logo_clear {
    width: 100px;
    padding-left: 48px;
}

.header {
    height: 96px;
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: white;
    border: solid 2px var(--orange);
    border-radius: 49px;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.burger-menu,
.planetImg {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.nav {
    display: flex;
    list-style: none;
    color: white;
    align-items: center;
    gap: 10px;

}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 16px;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.nav a {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.header-buttons {
    display: flex;
    padding-right: 48px;
    padding-left: 8px;
}

.btn-lang,
.btn-secondary,
.btn-orange-prim,
.btn-orange-prim-partnr {
    cursor: pointer;
}

.btn-lang:hover,
.btn-secondary:hover,
.btn-orange-prim:hover,
.btn-orange-prim-partnr:hover {
    font-size: 110%;
}

.btn-lang,
.btn-secondary {
    height: 48px;
    width: 75px;
    margin-right: 14px;
    opacity: 0.9;
    color: white;
    background: none;
    border: solid 2px var(--lime);
    border-radius: 24px;
}

.btn-orange-prim,
.btn-orange-prim-partnr {
    height: 48px;
    width: 75px;
    color: white;
    background-color: var(--orange);
    border-radius: 24px;
    border: none;
    margin-right: 14px;
}

.btn-orange-prim-partnr {
    width: 121px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.title {
    flex: 1 1 40%;
    width: 100%;
    max-width: 669px;
    margin-top: 296px;
}

.title-w {
    display: inline-block;
    font-size: 96px;
    font-weight: 500;
    line-height: 1;
    margin-right: 15px;
    text-align: left;
    color: white;
}

.title-o {
    font-size: 48px;
    padding: 0px;
    color: var(--orange);
}

.title-g {
    color: rgba(255, 255, 255, 0.6);
}

.bannerBG {
    display: flex;
    margin-right: 20px;
    width: 100%;
    max-width: 333.8px;
    height: 1334.22px;
    gap: 0;
    z-index: -1;
    opacity: 0.4;
}

.line {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    gap: 0;
}

.line-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200%;
    animation: bunner 10s linear infinite;
}

.bannerBG .line .line-content {
    height: 200%;
}

.line img,
.line-1-Group {
    margin-bottom: 10px;
}

.line-1-Group {
    width: 86px;
    height: 199px;
    border: solid 4px rgba(17, 248, 165, 1);
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.radius-1-Group {
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

@keyframes bunner {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.line-1 .line-content {
    animation-duration: 20s;
}

.line-2 .line-content {
    margin-left: 10px;
    margin-right: 10px;
    animation-direction: reverse;
    animation-duration: 20s;
}

.line-3 .line-content {
    animation-duration: 20s;
}

.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 531px;
    margin: 140px auto;
    gap: 24px;
    opacity: 0.9;
    align-items: center;
}

.blogH2 {
    color: white;
    font-size: 40px;
    text-align: center;
    /* Центрирует текст */
}

.blog-container {
    display: flex;
    width: 100%;
    max-width: 531px;
    height: 595px;
    gap: 0px;
    border-radius: 100px;
    border: solid 3px var(--orange);
    opacity: 0.9;
    overflow-x: hidden;
    background: rgb(86, 76, 58);
}

.blog-container ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
    list-style-type: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 16px;
    margin: 0;
    width: 100%;
    border-radius: 75px;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;

}

.blog-container li {
    margin-bottom: 16px;
    width: 100%;
}

.scrollbar {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    padding: 16px;
}

.scrollbar-track-img {
    width: 10px;
    height: 403px;
    margin-top: 96px;
}

.scrollbar-thumb-img {
    position: relative;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 5px;
    height: 103px;
    object-fit: cover;
    cursor: pointer;
    transform: translateY(-403px);
}

.blog-element-o,
.blog-element {
    box-sizing: border-box;
    width: 100%;
    max-width: 467px;
    height: 146px;
    padding: 8px 64px;
    border-radius: 196px;
    opacity: 0.9;
    background-color: var(--orange);
}

.blog-element {
    background-color: var(--burgundy);
}

.blog-p {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 0;
}

.blog-date {
    font-size: 14px;
    font-weight: 450;
    line-height: 16px;
    text-align: left;
    margin-top: 8px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    min-height: 130px;
    background: rgba(49, 18, 18, 1);
    border-top: solid 4px rgba(249, 114, 71, 1);
    border-left: solid 4px rgba(249, 114, 71, 1);
    border-right: solid 4px rgba(249, 114, 71, 1);
    border-radius: 100px 100px 0px 0px;
    padding: 0 140px 24px;
    gap: 32px;
    box-sizing: border-box;
}

.pages {
    display: flex;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    gap: 0px;
    align-items: flex-end;
    padding-top: 76px;
}

.li-orange a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: var(--orange);
}

.li-white a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 232px;
    height: 66px;
    gap: 14px;
    opacity: 0.9;
    margin: 40px 140px 0 24px;
}

.footer-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: white;
    margin-bottom: 0;
}

.social-icons {
    display: flex;
    align-items: flex-start;
}

.social-icons img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    gap: 8px;
    background: rgba(249, 114, 71, 1);
}

.social-icons img:hover {
    border-radius: 16px;
    background: rgba(49, 73, 156, 1);
}

@media (max-width: 720px) and (min-width: 320px) {
    .header {
        display: flex;
        justify-content: flex-end;
        width: 94%;
        height: 56px;
    }

    .points {
        display: none;
        position: absolute;
        top: 86px;
        right: 0px;
        left: 0px;
        gap: 5px;
        align-items: center;
        /* background-color: var(--khaki); */
        opacity: 0px;
        justify-content: center;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .nav li {
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 50px;
        min-width: 276px;
        margin-bottom: 5px;
        background: none;
        color: white;
        border: solid 2px var(--orange);
        border-radius: 49px;
        position: relative;
        align-items: center;
    }

    .logo_clear,
    .nav,
    .header-buttons {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        z-index: 0;
    }

    .btn-lang {
        display: none;
        opacity: 0;
        z-index: 0;

    }

    .btn-secondary {
        display: flex;
        position: absolute;
        top: 453px;
        right: 0px;
        left: 0px;
        width: 100%;
        max-width: 300px;
        height: 53px;
        border-radius: 48px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }

    .btn-orange-prim {
        display: flex;
        position: absolute;
        top: 513px;
        right: 0px;
        left: 0px;
        width: 100%;
        max-width: 300px;
        height: 53px;
        border-radius: 48px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .planetImg {
        position: absolute;
        right: 48px;
        width: 24px;
        height: 24px;
        padding: 4px;
        margin-right: 11px;
        border-radius: 24px;
        border: solid 2px var(--lime);
        opacity: 0px;

    }

    /* 
    .burger-menu {
        display: flex;
        align-items: center;
        height: 36px;
        cursor: pointer;
        z-index: 2;
    } */

    .burger-menu {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 14px;
        right: 20px;
        border: none;
        background: transparent;
        width: 26px;
        height: 26px;
        margin: 0px auto;
    }

    .planetImg {
        display: block;
        margin-right: 40px auto;
    }

    .burger-menu::before,
    .burger-menu::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff;
    }

    .burger-menu::before {
        top: 0;
        box-shadow: 0 11px 0 #ffffff;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger-menu::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .burger-menu.active::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .burger-menu.active::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .main {
        flex-direction: column;
        padding: 0 10px;
    }

    .title {
        margin-top: 70px;
        margin-bottom: 20px;
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-div-mobile {
        display: flex;
        justify-content: center;
    }

    .title-w {
        display: inline-block;
        font-size: 50px;
        font-weight: 500;
        height: 50px;
        text-align: center;
        margin: 0px;
    }

    .title-div-mobile {
        height: 50px;
    }

    .title-o {
        display: block;
        font-size: 46px;
        font-weight: 500;
        height: 50px;
        text-align: center;
        color: var(--orange);
        margin: 0px 0px 0px 0px;

    }

    .title-g {
        font-size: 20px;
        font-weight: 500;
        height: 26px;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .btn-orange-prim-partnr {
        display: flex;
        width: 300px;
        height: 53px;
        border-radius: 48px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-right: 0px
    }

    .blog {
        margin: 20px auto;
    }

    .footer-container {
        flex-direction: column;
        padding: 10px;
    }

    .pages {
        padding-top: 20px;
    }

    .social-container {
        align-items: center;
        margin: 20px 0;
    }





    .bannerBG {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        height: 100%;
        width: 720px;
        /* height: 165px; */
        gap: 10px;
        z-index: -1;
        opacity: 0.4;

    }

    .line {
        position: relative;
        display: flex;
        align-items: center;
        width: 720px;
        height: 55px;
        overflow: hidden;
        gap: 10px;
    }

    .line-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: max-content;
        animation: bunner 10s linear infinite;
    }


    .line img {
        margin-right: 15px;
        padding-left: 1px;
        padding-top: 1px;
        padding-bottom: 2px;
        width: 49px;
        height: 49px;
    }


    .line-1-Group {
        height: 49px;
        width: 99px;
        margin-right: 15px;
        border: solid 2px rgba(17, 248, 165, 1);
        border-radius: 25px;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        overflow: hidden;
    }

    .radius-1-Group img {
        margin-right: 10px;
        padding-left: 1px;
        padding-bottom: 1px;
        width: 44px;
        height: 44px;
        object-fit: cover;
    }

    @keyframes bunner {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .line-1 .line-content {
        animation-duration: 10s;
    }

    .line-2 .line-content {
        margin-left: 10px;
        margin-right: 10px;
        animation-direction: reverse;
        animation-duration: 10s;
    }

    .line-3 .line-content {
        animation-duration: 20s;
    }

    .blog-container {
        height: 421px;
        width: 300px;
        border-radius: 50px;
    }

    .blog-container li {
        margin-bottom: 0px;
    }

    .scrollbar {
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        padding: 0px;
    }

    .scrollbar-track-img {
        width: 4px;
        height: 301px;
        margin-top: 60px;
    }

    .scrollbar-thumb-img {
        width: 4px;
        border-radius: 10px;
        height: 77px;
        transform: translateY(-301px);

    }

    .blog-element,
    .blog-element-o {
        width: 274px;
        height: 112px;
        border-radius: 40px;
        padding: 15px 35px 15px 35px;
        margin: 0px;
    }

    .blog-p {
        font-size: 16px;
        line-height: 20px;
    }




    .footer-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 230px;
        border-top: solid 2px rgba(249, 114, 71, 1);
        border-left: solid 2px rgba(249, 114, 71, 1);
        border-right: solid 2px rgba(249, 114, 71, 1);
        border-radius: 50px 50px 0px 0px;
        /* box-sizing: border-box; */
    }

    .pages {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        padding-left: 20px;
        height: 108px;
        margin: 0px;
    }

    .pages ul {
        padding: 0px;
        margin: 0px;
    }

    .pages li {
        margin: 0;
    }

    .li-orange a {
        font-size: 14px;
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .li-white a {
        font-size: 14px;
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .social-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        opacity: 0.9;
        height: 60px;
        margin-top: 0px;

        margin-bottom: 30px;
    }

    .footer-p {
        font-size: 14px;
        text-align: right;
        color: white;
        padding: 0;
        margin: 0;
    }

    .social-icons {
        display: flex;
        width: 100%;
        gap: 10px;
        justify-content: space-around;
    }

    .social-icons img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background: rgba(249, 114, 71, 1);
    }

    .social-icons img:hover {
        border-radius: 16px;
        background: rgba(49, 73, 156, 1);
    }

}