:root {
    --orange: rgba(249, 114, 71, 1);
    --burgundy: rgb(45, 20, 19);
    --lime: rgba(235, 242, 157, 1);
    --khaki: rgb(26, 29, 12);

}

body {
    font-family: Arial, sans-serif;
    background: var(--khaki);
    background-image: url('./Dot-Light-rose.png'), url('./Dot-Light.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.99;
}

img.masked-image {
    -webkit-mask-image: url('./Dot-Light.png');
    -webkit-mask-size: 20%;
    -webkit-mask-repeat: no-repeat;
    width: 574px;
    height: 574px;
    position: absolute;
    top: 570px;
    left: 1505px;
    opacity: 0.7;
}

img.masked-image {
    -webkit-mask-image: url('./Dot-Light-rose.png');
    -webkit-mask-size: 20%;
    -webkit-mask-repeat: no-repeat;
    width: 226px;
    height: 1302px;
    position: absolute;
    top: 184px;
    left: -307px;
    opacity: 0.55;
    transform: rotate(54.31deg);
}

.logo_clear {
    width: 100px;
    padding-left: 48px;
}

.header {
    height: 96px;
    width: 1640px;
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: white;
    border: solid 2px var(--orange);
    border-radius: 49px;
    color: white;
    position: absolute;
    z-index: 1;

}

.nav {
    display: flex;
    columns: 6;
    list-style: none;
    color: white;

}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 16px;
    gap: 32px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.header-buttons {
    display: flex;
    padding-right: 48px;

}

.btn-lang {
    height: 48px;
    width: 75px;
    margin-right: 14px;
    opacity: 0px;
    color: white;
    background: none;
    border: solid 2px var(--lime);
    border-radius: 24px;
}

.btn-secondary {
    height: 48px;
    width: 75px;
    gap: 8px;
    margin-right: 14px;
    opacity: 0px;
    color: white;
    background: none;
    border: solid 2px var(--lime);
    border-radius: 24px;
}

.btn-orange-prim {
    height: 48px;
    width: 75px;
    gap: 8px;
    color: white;
    background-color: var(--orange);
    border-radius: 24px;
    border: none;
}

.main {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    margin-left: 140px;
}

.title {
    width: 669px;
    margin-top: 296px;
}

.title-w {
    font-size: 96px;
    font-weight: 500;
    line-height: 96px;
    line-height: 0px;
    padding: 0px;
    text-align: left;
    color: white;
}

.title-o {
    font-size: 48px;
    padding: 0px;
    color: var(--orange);
}

.title-g {
    color: rgba(255, 255, 255, 0.6);
}

.btn-orange-prim-partnr {
    height: 48px;
    width: 121px;
    gap: 8px;
    color: white;
    background-color: var(--orange);
    border-radius: 24px;
}







.bannerBG {
    display: flex;
    margin-top: 100px;
    width: 333.8px;
    height: 1334.22px;
    overflow: hidden;
    gap: 0;
    z-index: -1;
    opacity: 0.4;
}

.line {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100% !important;
    overflow: hidden;
    gap: 0;
}

.line-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200% !important;
    animation: bunner 10s linear infinite;
}

.bannerBG .line .line-content {
    height: 200% !important;
}

.line img,
.line-1-Group {
    margin-bottom: 10px;
}

.line-1-Group {
    width: 86px;
    height: 199px;
    border: solid 4px rgba(17, 248, 165, 1);
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.radius-1-Group {
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

@keyframes bunner {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.line-1 .line-content {
    animation-duration: 20s;
}

.line-2 .line-content {
    margin-left: 10px;
    margin-right: 10px;
    animation-direction: reverse;
    animation-duration: 20s;
}

.line-3 .line-content {
    animation-duration: 20s;
}





.blog {
    display: flex;
    flex-direction: column;
    width: 531px;
    margin-right: 140px;
    margin-top: 140px;
    margin-left: 64px;
    gap: 24px;
    opacity: 0px;
    align-items: center;
}

.blogH2 {
    color: white;
    align-items: center;
    font-size: 40px;
}







.blog-container {
    display: flex;
    width: 531px;
    height: 595px;
    gap: 0px;
    border-radius: 100px;
    border: solid 3px var(--orange);
    opacity: 0px;
    overflow-x: 80%;
    padding: 16px 0px 16px 24px;
    background: rgb(86, 76, 58);
}

.blog-container ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 75px;
}

.blog-container li {
    margin-bottom: 16px;
    width: 100%;
}

.scrollbar {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    padding-right: 16px;

}

.scrollbar-track-img {
    width: 10px;
    height: 403px;
    margin-top: 96px;
}

.scrollbar-thumb-img {
    position: relative;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 5px;
    height: 103px;
    object-fit: cover;
    cursor: pointer;
    transform: translateY(-403px);
}

.blog-element-o,
.blog-element {
    box-sizing: border-box;
    width: 467px !important;
    height: 146px;
    padding: 8px 64px 8px 64px;
    gap: 0px;
    border-radius: 196px;
    opacity: 0px;
    background-color: var(--orange);
}

.blog-element {
    background-color: var(--burgundy);
}

.blog-p {
    font-family: Lexend;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 0;
}

.blog-date {
    font-size: 14px;
    font-weight: 450;
    line-height: 16px;
    text-align: left;
    margin-top: 8px;
}




.footer-container {
    display: flex;
    justify-content: space-between;
    height: 130px !important;
    background: rgba(49, 18, 18, 1);
    border-top: solid 4px rgba(249, 114, 71, 1);
    border-left: solid 4px rgba(249, 114, 71, 1);
    border-right: solid 4px rgba(249, 114, 71, 1);
    border-radius: 100px 100px 0px 0px / 100px 100px 0px 0px;
    padding: 0 140px 24px;
    gap: 32px;
    box-sizing: border-box;
}

.pages {
    display: flex;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    gap: 40px;
    padding-top: 76px;
}

.li-orange a {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: var(--orange);

}

.li-white a {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 232px;
    height: 66px;
    gap: 14px;
    opacity: 0px;
    margin: 40px, 140px, 0px, 24px;
}

.footer-p {
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    color: white;
}

.social-icons {
    display: flex;
    align-items: flex-start;
}

.social-icons img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    gap: 8px;
    background: rgba(249, 114, 71, 1);
}